@import url("https://fonts.googleapis.com/css?family=Assistant:200,400,700|Montserrat:300");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

label {
  display: block;
  color: #111; }

input[type="text"] {
  border: 1px solid #A2B3C4;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  border-radius: 0.2em;
  padding: 0.55em;
  margin: 0 0 1.8em 0; }
  input[type="text"].noLabel {
    margin-top: none; }
  input[type="text"].noLabelPush {
    margin-top: 2.5em;
    margin-left: 0.5em; }

input[type="button"],
button[type="button"] {
  font-family: 'Assistant-Bold', sans-serif;
  padding: 0.55em 0.75em;
  white-space: nowrap;
  margin-right: 0.5em; }
  input[type="button"].disabled,
  button[type="button"].disabled {
    opacity: 40%; }
  input[type="button"]:hover,
  button[type="button"]:hover {
    text-decoration: none;
    cursor: hand; }
  input[type="button"].primary,
  button[type="button"].primary {
    background-color: #367E8D;
    border: 2px solid #367E8D;
    color: #fff; }
    input[type="button"].primary:hover,
    button[type="button"].primary:hover {
      background-color: #5CABBB;
      border: 2px solid #5CABBB; }
  input[type="button"].secondary,
  button[type="button"].secondary {
    background-color: transparent;
    border: 2px solid #367E8D;
    color: #367E8D; }
    input[type="button"].secondary:hover,
    button[type="button"].secondary:hover {
      color: #5CABBB;
      border: 2px solid #5CABBB; }

button[type="button"]:disabled {
  opacity: 40%; }

body {
  font: 10px 'Assistant', sans-serif;
  color: #111;
  background: #F7F8F8; }

h1 {
  font-family: 'Assistant-ExtraLight', sans-serif;
  font-size: 4.1em;
  line-height: 1.0em; }

h2,
h3,
h4,
h5 {
  font-family: 'Assistant-Bold', sans-serif;
  line-height: 1.6em; }

h2 {
  font-size: 3.2em; }

h3 {
  font-size: 2.4em; }

h4 {
  font-size: 2.0em; }

h5 {
  font-size: 1.6em; }

h6,
label {
  font-size: 1.1em;
  font-family: 'Montserrat-Bold', sans-serif;
  letter-spacing: .25em;
  text-transform: uppercase;
  line-height: 2.5em; }

p,
li,
ol,
a,
button,
input {
  font-family: 'Assistant', sans-serif;
  font-size: 1.6em;
  line-height: 1.6em;
  padding-bottom: 1.0em; }

.header1 {
  color: #A2B3C4; }

.header6.light {
  color: #A2B3C4; }

p.large {
  font-size: 2.0em; }

a {
  text-decoration: none;
  font-family: 'Assistant', sans-serif;
  color: #367E8D; }
  a:hover {
    text-decoration: underline; }
  a.linkLookSpecial {
    color: #F4623B; }
  a.buttonLook {
    font-family: 'Assistant-Bold', sans-serif;
    padding: 0.55em 0.75em;
    margin: 0.5em 1.8em 0.5em 0;
    white-space: nowrap; }
    a.buttonLook:hover {
      text-decoration: none; }
    a.buttonLook.lrgButton {
      font-size: 2.0em;
      padding: 0.75em; }
    a.buttonLook.smButton {
      font-size: 1.3em;
      padding: 0.35em 0.55em; }
    a.buttonLook.primary {
      background-color: #367E8D;
      border: 2px solid #367E8D;
      color: #fff; }
      a.buttonLook.primary:hover {
        background-color: #5CABBB;
        border: 2px solid #5CABBB; }
    a.buttonLook.secondary {
      background-color: none;
      border: 2px solid #367E8D;
      color: #367E8D; }
      a.buttonLook.secondary:hover {
        color: #5CABBB;
        border: 2px solid #5CABBB; }
    a.buttonLook.special {
      background-color: #F4623B;
      color: #fff; }
      a.buttonLook.special:hover {
        background-color: #FB7A57; }
