@import 'reset';
@import 'variables';
@import 'fonts';
@import 'forms';



body {
  font: 10px 'Assistant', sans-serif;
  color: $black;
  background: $neutralLight;
}

// fonts
h1 {
  font-family: 'Assistant-ExtraLight', sans-serif;
  font-size: 4.1em;
  line-height: 1.0em;
}
h2,
h3,
h4,
h5 {
  font-family: 'Assistant-Bold', sans-serif;
  line-height: 1.6em;
}
h2 {
  font-size: 3.2em;
}
h3 {
  font-size: 2.4em;
}
h4 {
  font-size: 2.0em;
}
h5 {
  font-size: 1.6em;
}
h6,
label {
  font-size: 1.1em;
  font-family: 'Montserrat-Bold', sans-serif;
  letter-spacing: .25em;
  text-transform: uppercase;
  line-height: 2.5em;
}
p,
li,
ol,
a,
button,
input {
  font-family: 'Assistant', sans-serif;
  font-size: 1.6em;
  line-height: 1.6em;
  padding-bottom: 1.0em;
}

// font styles
.header1 {
  color: $neutralDark;
}
.header6 {

  &.light {
    color: $neutralDark;
  }
}

p {
  &.large {
    font-size: 2.0em;
  }
}


//clickable
a {
  text-decoration: none;
  font-family: 'Assistant', sans-serif;
  color: $primary;

  &:hover {
    text-decoration: underline;
  }

  &.linkLookSpecial {
    color: $secondary;
  }

  &.buttonLook {
    font-family: 'Assistant-Bold', sans-serif;
    padding: $medPaddding $lrgPaddding;
    margin: $smSpacing $medSpacing $smSpacing 0;
    white-space: nowrap;

    &:hover {
      text-decoration: none;
    }

    &.lrgButton {
      font-size: 2.0em;
      padding: $lrgPaddding;
    }

    &.smButton {
      font-size: 1.3em;
      padding: $smPaddding $medPaddding;
    }

    &.primary {
      background-color: $primary;
      border: 2px solid $primary;
      color: $white;

      &:hover {
        background-color: $primaryLight;
        border: 2px solid $primaryLight;
      }
    }

    &.secondary {
      background-color: none;
      border: 2px solid $primary;
      color: $primary;

      &:hover {
        color: $primaryLight;
        border: 2px solid $primaryLight;
      }
    }

    &.special {
      background-color: $secondary;
      color: $white;

      &:hover {
        background-color: $secondaryMedium;
      }
    }
  }
}
