//mixins

@mixin border-radius($transisions) {
  -webkit-transition: all 500ms ease-out 1s;
     -moz-transition: all 500ms ease-out 1s;
       -o-transition: all 500ms ease-out 1s;
          transition: all 500ms ease-out 1s;
}

@mixin border-radius($radius) {
      -webkit-border-radius: $radius;
         -moz-border-radius: $radius;
          -ms-border-radius: $radius;
              border-radius: $radius;
}
