// brand colors
$primary: #00657D;
$secondary: #F4623B;
$secondaryMedium: #F1876A;
$secondaryLight: #EDB3A3 ;

// cool colors
$cool: #56C5D0;
$coolLight: #A5DFE1;

// neutral colors
$neutralDark: #A2B3C4;
$neutral: #EDF0F4;
$neutralLight: #F7F8F8;
$white: #fff;
$black: #111;

// feedback
$success: #ADEDB0;
$sucessLight: #DEF8DF;
$error: #FA3058;
$errorLight: #FC839B;
